.handlePostBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba($color: #000000, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.handlePostSection {
  width: 60vw;
  height: 84vh;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  label {
    color: var(--red);
    font-size: 0.6rem;
  }
  h2 {
    margin: auto;
  }
  h4 {
    margin-bottom: 1rem;
  }
  input {
    width: 100%;
    outline: none;
    border: 1px solid var(--gray-100);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.2s all;
    &::placeholder {
      font-size: 0.7rem;
      opacity: 0.6;
    }
    &:focus {
      box-shadow: rgba(240, 173, 86, 0.12) 0px 2px 4px 0px,
        rgba(240, 173, 86, 0.32) 0px 2px 16px 0px;
      border: 1px solid var(--orange-200);
    }
  }
  select {
    outline: none;
    border: 1px solid var(--gray-100);
    padding: 0.8rem;
    border-radius: 0.5rem;
    transition: 0.2s all;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.2s all;

    &:focus {
      box-shadow: rgba(240, 173, 86, 0.12) 0px 2px 4px 0px,
        rgba(240, 173, 86, 0.32) 0px 2px 16px 0px;
      border: 1px solid var(--orange-200);
    }
  }
}
.quill {
  flex-grow: 1;
  display: block;

  div {
    &:first-of-type {
      border-radius: 0.3rem 0.3rem 0 0;
    }
    &:last-of-type {
      overflow: auto;
      min-height: 10rem;
      max-height: 10rem;
      border-radius: 0 0 0.3rem 0.3rem;
    }
  }
}
.buttons {
  display: flex;
  justify-content: center;
  button {
    border: none;
    color: var(--white);
    width: 6rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 1.5rem;
    transition: 0.2s all;
    &:hover {
      filter: brightness(70%);
    }
    &:first-of-type {
      background-color: var(--gray-500);
      margin-right: 1rem;
    }
    &:last-of-type {
      background-color: var(--orange-200);
    }
  }
}
.loader {
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  border: 0.2rem solid var(--white);
  border-style: dotted;
  animation: spin 1.2s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
